@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-bg {
  background-image: url('/hero-section/hero-image.png');
}

.images img{
  transform: 0.5s ease-in-out;
}

/* state1 */
.images.state-1 img:nth-child(1) {
  position: absolute;
  top: 8rem;
  z-index: 10;
  scale: 1.5;
  /* transform: scale(1.4); */
}

.images.state-1 img:nth-child(2) {
  position: absolute;
  top: 16rem;
  right: 8rem;
  opacity: 0.6;
}

.images.state-1 img:nth-child(3) {
  position: absolute;
  top: 0;
  left: 8rem;
  opacity: 0.6;
}

/* state2 */
.images.state-2 img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 8rem;
  opacity: 0.6;
}

.images.state-2 img:nth-child(2) {
  position: absolute;
  top: 8rem;
  z-index: 10;
  scale: 1.5;
  /* transform: scale(1.4); */

}

.images.state-2 img:nth-child(3) {
  position: absolute;
  top: 16rem;
  right: 8rem;
  opacity: 0.6;
}

/* state3 */
.images.state-3 img:nth-child(1) {
  position: absolute;
  top: 16rem;
  right: 8rem;
  opacity: 0.6;
}

.images.state-3 img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 8rem;
  opacity: 0.6;
}

.images.state-3 img:nth-child(3) {
  position: absolute;
  top: 8rem;
  z-index: 10;
  scale: 1.5;
  /* transform: scale(1.4); */
}
@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 4s linear forwards;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  /* min-width: 0; */
}
